.container{
    width: 100%;
    height: 9.88rem;
    // height: 8.98rem;
    overflow-y: auto;
    font-size: 0.26rem;
    background-color: #efefef;
    .list{
        margin-bottom: 0.32rem;
        .content{
            min-height: 0.92rem;
            margin-bottom: 0.1rem;
            background-color: #fff;
            padding: 0 0.4rem;
            .title{
                height: 0.92rem;
                position: relative;
                .clickexpand{
                    width: 0.76rem;
                    height: 0.32rem;
                    line-height: 0.3rem;
                    margin-top: 0.3rem;
                    margin-right: 0.25rem;
                    border-radius: 0.04rem;
                    border: solid 0.02rem #f16338;
                    font-size: 0.18rem;
                    color: #f16438;
                    float: left;
                    position: relative;
                    padding-left: 0.08rem;
                    .expand{
                        float: left;
                        width: 0.1rem;
	                    height: 0.17rem;
                        position: absolute;
                        right: 0.12rem;
                        top: 0.06rem; 
                    }
                    .collapse{
                        width: 0.18rem;
                        height: 0.1rem;
                        float: left;
                        position: absolute;
                        right: 0.07rem;
                        top: 0.09rem;     
                    }
                }
                .titlename{
                    font-size: 0.36rem;
                    line-height: 0.92rem;
                    color: #333333;
                    font-family: SourceHanSansCN-Medium;
                }
                .time{
                    font-size: 0.28rem;
                    line-height: 0.92rem;
                    color: #999999;
                    position: absolute;
                    right: 0;
                }
            }
            .detail{
                width: 100%;
                height: auto;
                padding-bottom: 0.32rem;
                overflow-x: auto;
                .noticeContent{
                    font-family: MicrosoftYaHei;
                    font-size: 0.24rem;
                    line-height: 0.36rem;
                    color: #666; 
                }
                .wrap{
                    width: 100%;
                    height: auto;
                    margin-top: 0.24rem;
                    .imgBlock{
                        width: 8.72rem;
                        height: 4.9rem;
                        float: left;
                        position: relative;
                        margin-bottom: 0.2rem;
                        .noticeimg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            max-width: 8.72rem;
                            max-height: 4.9rem;
                        }
                        &:nth-of-type(even){
                            margin-left: 0.2rem;
                        }
                    }
                    &:after{
                        clear: both;
                        overflow: hidden;
                        content: '';
                        display: block;
                    }
                }
                
            }
            .detailHidden{
                display: none;
            }
        }
    }
    .noMore{
        width: 100%;
        padding: 0.3rem 0 0.05rem 0;
        text-align: center;
        font-size: 0.26rem;
        color:#333333;
        background-color: white;
    }
    &:after{
        display:block; 
        content:""; 
        clear:both; 
        overflow:hidden; 
        visibility:hidden;
    }
}
//缺省图
.defaultImg{
    width: 100%;
    height: 8.98rem;
    text-align: center;
        img{
            width: 0.6rem;
            margin-top: 3.6rem;
        }
        .text{
            margin-top: 0.12rem;
            font-size: 0.28rem;
            color: #cccccc;
        }
}
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    text-align: center;
    img{
        margin-top: 4rem;
    }
}