.rank{
    width: 10.96rem;
	height: 8.3rem;
	box-shadow: 0rem 0rem 0.2rem 0rem 
		rgba(70, 99, 194, 0.3);
    border-radius: 0.16rem;
    background-image: url('ASSETS/home/rank-bg.png');
    background-size: 100%;
    margin: 0.2rem 0.2rem 0 0.4rem;
    .title{
        font-family: SourceHanSansCN-Medium;
        font-size: 0.36rem;
        color: #333333;
    }
}