body{
    background: #f5f7f8;
}
.container{
    background: #f5f7f8;
}
.content{
    text-align: center;
    padding-top: 26vw;
    .defaultImg{
        width: 47vw;
        height: 47vw;
        margin-bottom: 4vw;
    }
    p{
        font-size: 4vw;
        color:#999;
    }
}