body{
    padding: 0;
    margin: 0;
    background: #f5f7f8;
}
ol, ul, dl{
    margin-bottom: 0!important;
}
.pageWraper{
    width: 100vw;
    height: 100%;
    .mask{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        margin-top: 2rem;
    }
}
.selectWrapper{
    background: #fff;
    padding: 0 2vw;
    position: fixed;
    top:0;
    width: 100vw;
    overflow: hidden;
    
    .clazzSelect{
        li {
            display: inline-block;
            // border: 1px solid red;
            width: 25%;
            box-sizing: border-box;
            align-items: center;
            vertical-align: top;
            text-align: center;
        }
        :global{
            .calendar-list .am-list-item .am-list-line .am-list-arrow{
                background-image: url('../../assets/date3x.png')!important;
                margin-left: 1vw!important;
                // position: relative;
                // left: -5vw; // ???
                // top: 1px;
                width: 3vw;
                height: 3vw;
            }
        }
    }
    .curSelect{
        color: #37b37d;
    }
    .calWraper{
        display: inline-block;
        height: 12vw;
        line-height: 12vw;
        .message{
            font-size: 4vw;
            color: #999;
        }
        .period{
            font-size: 3vw;
            color: #999;
        }
        .dateLogo{
            margin-left: 1vw!important;
            width: 3vw;
            height: 3vw;
            position: relative;
            top: -0.5vw;
        }
    }
}

:global {
    .ant-select-selection-selected-value{
        height: 12vw!important;
        line-height: 12vw!important;
        font-family: 'PingFang-SC';
        font-size: 4vw;
        font-weight: normal;
        font-stretch: normal;
        line-height: 5vw;
        letter-spacing: 0vw;
        color: #999999;
    }
    .ant-select-dropdown,.ant-select-dropdown--single,.ant-select-dropdown-placement-bottomLeft{
        width: 100vw;
    }
    .ant-select-selection{
        border:none;
        box-shadow: none;
        border: 0 solid transparent!important;
    }
    .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
        border:none!important;
        box-shadow: none!important;
    }
    .ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
        background-color: #f5f7f8;
        color: #37b37d;
        font-weight: normal;
    }
    
    .ant-select-dropdown{
        left:0!important;
        top:12vw!important;
    }
    .ant-select-dropdown-menu-item-active{
        background-color: #f5f7f8!important;
        font-family: 'PingFang-SC';
        font-size: 3.7vw;
        font-weight: normal!important;
        font-stretch: normal;
        letter-spacing: 0;
        color: #37b37d!important;
        height: 10.6vw!important;
        line-height: 8vw!important;
    }
    .ant-select-dropdown-menu-item{
        height: 11vw!important;
        line-height: 8vw!important;
        padding-left: 7vw!important;
    }
    .ant-select-open .ant-select-arrow-icon svg{
        color:#39b881!important;
    }
    .ant-select-arrow {
        margin-top: 0!important;
        top: 54%!important;
        right: 1vw!important;
    }
    .ant-select-disabled .ant-select-selection{
        background: #fff;
        font-family: 'PingFang-SC';
        font-size: 4vw;
        font-weight: normal;
        font-stretch: normal;
        line-height: 5vw;
        letter-spacing: 0vw;
        color: #999999;
    }

    .calendar-list .am-list-item .am-list-line .am-list-content{
        font-size: 4vw;
        color: #999999;
        text-align: center!important;
    }
    .am-list-item .am-list-line{
        padding-right: 0 !important;
    }
    .ant-select{
        // margin-right: 6vw;
        height: 12vw;
        // border: 1px solid green;
    }
    .ant-select-selection__rendered{
        margin-right: 0!important;
        margin-left: 0!important;
        height: 12vw!important;
    }
    .am-list-item{
        padding-left: 0!important;
    }
    .am-list-item.am-list-item-middle .am-list-line{
        height: 12vw!important;
    }
    .am-calendar .single-month .row .cell .date-wrapper .date-selected, .am-calendar .confirm-panel .button{
        background: #48bb7d;
    }
    .am-calendar .single-month .row .cell .date-selected{
        color: #48bb7d;
    }
    .am-calendar .header .left, .am-calendar .header .right{
        color: #48bb7d;
    }
    .am-calendar .header .title, .am-calendar .single-month .month-title {
        color: #999
    }
    .am-calendar .confirm-panel .info{
        color: #999;
    }

}