.wrap {
    overflow: hidden;
    position: relative;
    top: 14vw;
    background: #fff;
    // z-index: -1;
    .tableMock{
        .tableHeader{
            height: 9vw;
            line-height: 9vw;
            padding: 0 3vw;
            .hItem{
                color: #999;
                display: inline-block;
                width: 20%;
                font-family: 'PingFang-SC';
                font-size: 4vw;
            }
            .opeation{
                text-align: right;
            }
        }
        .tBodyWrap{
            .tBodyItem{
                padding: 0 3vw;
                height: 13vw;
                line-height: 13vw;
                .bItem{
                    color: #666;
                    display: inline-block;
                    width: 20%;
                    font-family: 'PingFang-SC';
                    font-size: 4vw;
                }
                .bName{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    vertical-align: top;
                    width: 17vw;
                }
                .bDate{
                    text-align: center;
                }
                .bEdit{
                    color: #49bb7d;
                    text-align: right;
                    float: right;
                }
            }
            li:nth-child(odd){
                background:#fbfbfb;
            }
        }
    }

    .multiTable{
        padding: 0 3vw;
        .multiHeader{
            height: 9vw;
            line-height: 9vw;
            
            box-sizing: border-box;
            span{
                display: inline-block;
                color: #999;
                font-size: 4vw;
            }
            .multiHDate{
                margin-left: 13vw;
            }
            .multiHDate,.multiHSta, .multiHName, .multiHTime{
                width: 20vw;
            }
            .multiHTime{
                float: right;
                text-align: center;
            }
        }
        .multiBodyWrap{
            .multiBodyItem{
                height: 13vw;
                line-height: 13vw;
                font-size: 4vw;
                span{
                    display: inline-block;
                }
                .multiBCheck{
                    width: 12.6vw;
                }
                .multiBDate, .multiBStatus, .multiBName{
                    width: 20vw;
                }
                .multiBName{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    vertical-align: top;
                    width: 17vw;
                }
                .multiBTime{
                    text-align: center;
                    float: right;
                    width: 20vw;
                }
            }
        }
    }

    .footWrap{
        width: 100vw;
        height: 12vw;
        line-height: 12vw;
        background-color: #ffffff;
        position: fixed;
        bottom: 0;
        padding-left: 3vw;
        .txt{
            // font-size: 4vw;
            font-stretch: normal;
            line-height: 4vw;
            letter-spacing: 0vw;
            color: #333333;
        }
        .edit{
            float: right;
            margin-right: 3vw;
            .turnActive{
                color: #42b279;
            }
        }
        .editStatus{
            float: right;
            margin-right: 3vw;
            font-size: 4vw;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0vw;
            color: #cccccc;
        }
        
    }
    .hide{
        display: none;
    }
}

:global {
    .ant-table-thead > tr > th{
        background: #fff!important;
    }
    .ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column{
        // display: none;
    }
    .ant-table-tbody > tr > td{
        // width: 17vw;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .ant-table-thead > tr:first-child > th:first-child{
        visibility: hidden!important;
    }
    .ant-table-thead > tr > th {
        border: none!important;
    }
    .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
        color: #42b279!important;
        background: #42b279!important;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
        border-color: #42b279!important;
    }

}