.tableContent {
    overflow: auto;
    width: 100%;
    margin-top: .24rem;
    height: 1.8rem;
    .lineStyle{
        font-size: .24rem;
        line-height: .32rem;
        letter-spacing: 0px;
        color: #333333;
        padding: 0.141rem .3rem;
        display: flex;
        width: 100%;
        .title {
            overflow: hidden;
            word-break: keep-all;
            text-overflow: ellipsis;
            width: 4.56rem;
        }
        .start {
            font-size: 0.2rem;
            color: #999999;    
        }
        &:nth-child(odd) {
            background-color: #f6f8ff; 
        }
    }
}