html{
	min-width: 1200px;
}
html,body{
	font-size: 5.208vw;
	background-color: #f9f9f9!important;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	overflow:auto;
	background:#f1f1f1 url(https://static.leke.cn/images/home/lobg.png) center no-repeat;
	background-size:cover;
}