.header{
    width: 100%;
    height: 0.88rem;
    background-color: #1fb5ab;
    position: fixed;
    top:0rem;
    z-index: 1;
    text-align: center;
    .goback{
        display: inline-block;
        width: 1.12rem;
        height: 0.52rem;
        line-height: 0.52rem;
        background-color: #5696ff;
        box-shadow: 0rem 0rem 0.2rem 0rem 
            rgba(30, 105, 229, 0.5);
        border-radius: 0.26rem;
        margin: 0.2rem 0 0 0.4rem;
        font-size: 0.24rem;
        color: #ffffff;
        text-align: center;
        position: relative;
        img{
            width: 0.19rem;
            height: 0.34rem;
            transform: rotateY(180deg);
            // margin-right: 0.11rem;
            left: 0.2rem;
            top: 0.15rem;
            position: absolute;
        }
        .backtext{
            margin-left: 0.15rem;
        }
        &:hover{
            background-color: #4d87e5;
        }
    }
    img{
        width: 0.19rem;
        height: 0.34rem;
        left: 0.4rem;
        top: 0.27rem;
        transform: rotateY(180deg);
        position: absolute;
    }
    .title{
        font-size: 0.42rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.88rem;
        color: #ffffff;
    }
}