.container{
    width: 100%;
    // height: 13.18rem;
    // overflow-y: auto;
    // overflow-x: hidden;
    .tab{
        width: 19.2rem;
        height: 0.88rem;
        background-color: #1fb5ab;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
        position: fixed;
        display: flex;
        z-index: 1;
        text-align: center;
        .back{          
            width: 1.12rem;
            height: 0.52rem;
            line-height: 0.52rem;
            background-color: #5696ff;
            box-shadow: 0rem 0rem 0.2rem 0rem  rgba(30, 105, 229, 0.5);
            border-radius: 0.26rem;
            font-family: MicrosoftYaHei;
            font-size: 0.24rem;
            color: #ffffff;
            text-align: center;
            margin-left: 0.4rem;
            margin-top: 0.18rem;
            // .backimg{
            //     display: inline-block;
            //     width: 0.12rem;
            //     height: 0.22rem;
            //     transform: rotateY(180deg);
            //     margin-right: 0.11rem;
            // }
        }
        .backimg{
            width: 0.19rem;
            height: 0.34rem;
            transform: rotateY(180deg);
            display: block;
            position: absolute;
            left: 0.4rem;
            top: 0.27rem;
        }
        //这是新的样式
        .btnWrap{
            line-height: 0.52rem;
            text-align: center;
            position: absolute;
            right: 0.4rem;
            top: 0.18rem;
            height: 0.52rem;
            width: 2.6rem;
            span{
                display: inline-block;
                width: 1.2rem; 
                font-family: SourceHanSansCN;
                font-size: 0.24rem;
                color: #ffffff;
                background-color: rgba(31,181,171,1);
                width: 1.3rem;
                height: 0.52rem;
                border: solid 0.02rem white;
            }
            .prevBtn{
                border-radius: 0.26rem  0 0 0.26rem;
                background-color: #1a9890;
            }
            .prevBtnNo{
                border-radius: 0.26rem  0 0 0.26rem;
                background-color: #1ca49b;
                opacity: 0.4;
            }
            .nextBtn{
                border-radius: 0 0.26rem  0.26rem 0;
                background-color: #1a9890;
            }
            .nextBtnNo{
                border-radius: 0 0.26rem  0.26rem 0;
                background-color: #1ca49b;
                opacity: 0.4;
            }
        }
        .title{
            position: absolute;
            font-size: 0.42rem;
            color:white;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

        }
    }
    .content{
        height: 10.8rem;
        // margin-bottom: 0.1rem;
        background-color: #fff;
        padding: 0 0.4rem;
        padding-top: 0.88rem;
        overflow-x: hidden;
        overflow-y: auto;
        .picture{
            width: 18.4rem;
            height: 10.35rem;
            // margin-top: 0.32rem;
        }
        .title{
            height: 0.92rem;
            position: relative;
            .titlename{
                font-size: 0.36rem;
                line-height: 0.92rem;
                color: #333333;
                font-family: SourceHanSansCN;
            }
            .time{
                font-size: 0.28rem;
                line-height: 0.92rem;
                color: #999999;
                position: absolute;
                right: 0;
            }
        }
        .detail{
            .text{
                font-family: SourceHanSansCN-Regular;
                font-size: 0.24rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.36rem;
                letter-spacing: 0.01rem;
                color: #666666;
                padding-bottom: 0.24rem;
                word-break: break-all;
                span{
                    font-weight: bold;
                    color:#333333;
                }
            }
            .imgWarp{
                text-align: center;
                width: 9.1rem;
                margin-right: 0.2rem;
                margin-bottom: 0.2rem;
                height: 5.12rem;
                float: left;
                overflow: hidden;
                position: relative;
                .img{
                    // max-height: 5.12rem;
                    max-width: 100%;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    display: block;
                    width: 9.1rem;
                    height: 5.12rem;
                    object-fit: cover;
                }
                &:nth-of-type(even){
                    margin-right: 0;
                }
            }
            .line{
                width: 100%;
                height: 1px;
                overflow: hidden;
                background-color: #efefef;
                margin-bottom: 0.2rem;
            }
            .imgone{
                width: 100%;
                height: 5.12rem;
                position: relative;
                .img{
                    max-height: 5.12rem;
                    max-width: 100%;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
}
.showImg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0px;
    z-index: 999;
    text-align: center;
    img{
        // vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        max-height: 100%;
        // display: block;
        // width: 90%;
        // height: 900px;
        // object-fit: cover;
    }
}