.container{
    width: 100%;
    height: 10.8rem;
    .tab{
        width: 19.2rem;
        height: 0.88rem;
        background-color: #1fb5ab;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
        position: fixed;
        display: flex;
        z-index: 1;
            .backimg{
                width: 0.19rem;
                height: 0.34rem;
                transform: rotateY(180deg);
                display: block;
                position: absolute;
                left: 0.4rem;
                top: 0.27rem;
            }
            // span{
            //     // margin-left: 0.2rem;
            // }
            &:hover{
                background-color: #1fb5ab;
            }
        //这是新的样式
        .btnWrap{
            line-height: 0.52rem;
            text-align: center;
            position: absolute;
            right: 0.4rem;
            top: 0.18rem;
            height: 0.52rem;
            width: 2.6rem;
            span{
                display: inline-block;
                width: 1.2rem; 
                font-family: SourceHanSansCN;
                font-size: 0.24rem;
                color: #ffffff;
                background-color: rgba(31,181,171,1);
                width: 1.3rem;
                height: 0.52rem;
                border: solid 0.02rem white;
            }
            .prevBtn{
                border-radius: 0.26rem  0 0 0.26rem;
                background-color: #1a9890;
            }
            .nextBtn{
                border-radius: 0 0.26rem  0.26rem 0;
                background-color: #1a9890;
            }
            .prevBtnNo{
                border-radius: 0.26rem  0 0 0.26rem;
                background-color: #1ca49b;
                opacity: 0.4;
            }
            .nextBtnNo{
                border-radius: 0 0.26rem  0.26rem 0;
                background-color: #1ca49b;
                opacity: 0.4;
            }
            // .btn{
            //     right: 0;
            //     border-radius: 0.26rem;
            //     position: absolute;
            // }
        }
    }
    .content{
        height: 10.7rem;
        margin-bottom: 0.1rem;
        background-color: #fff;
        padding: 0 0.4rem;
        padding-top: 0.92rem;
        overflow-x: hidden;
        overflow-y: auto;
        .picture{
            width: 18.4rem;
            height: 10.35rem;
            // margin-top: 0.32rem;
        }
        .title{
            height: 0.92rem;
            position: relative;
            .titlename{
                font-size: 0.36rem;
                line-height: 0.92rem;
                color: #333333;
                font-family: SourceHanSansCN;
            }
            .time{
                font-size: 0.28rem;
                line-height: 0.92rem;
                color: #999999;
                position: absolute;
                right: 0;
            }
        }
        .detail{
            .text{
                font-family: SourceHanSansCN-Regular;
                font-size: 0.24rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.36rem;
                letter-spacing: 0.01rem;
                color: #666666;
                padding-bottom: 0.24rem;
                word-break: break-all;
            }
            .imgWarp{
                text-align: center;
                width: 9rem;
                margin-right: 0.2rem;
                margin-bottom: 0.2rem;
                height: 5.12rem;
                float: left;
                overflow: hidden;
                position: relative;
                background-color: #f8f8f8;
                .img{
                    height: 5.12rem;
                    width: 100%;
                    position: absolute;
                    object-fit: cover;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &:nth-of-type(even){
                    margin-right: 0;
                }
            }
        }
    }
}