.container{
    width: 100%;
    // height: 13.18rem;
    // overflow-y: auto;
    // overflow-x: hidden;
    .tab{
        width: 19.2rem;
        height: 0.92rem;
        background-color: #387ef1;
        box-shadow: 0rem 0.03rem 0.07rem 0rem  rgba(0, 0, 0, 0.08);
        position: fixed;
        display: flex;
        z-index: 1;
        .back{          
            width: 1.12rem;
            height: 0.52rem;
            line-height: 0.52rem;
            background-color: #5696ff;
            box-shadow: 0rem 0rem 0.2rem 0rem  rgba(30, 105, 229, 0.5);
            border-radius: 0.26rem;
            font-family: MicrosoftYaHei;
            font-size: 0.24rem;
            color: #ffffff;
            text-align: center;
            margin-left: 0.4rem;
            margin-top: 0.18rem;
            .backimg{
                display: inline-block;
                width: 0.12rem;
                height: 0.22rem;
                transform: rotateY(180deg);
                margin-right: 0.11rem;
            }
            &:hover{
                background-color: #4d87e5;
            }
        }
        //这是新的样式
        .btnWrap{
            line-height: 0.52rem;
            text-align: center;
            position: absolute;
            right: 0.4rem;
            top: 0.18rem;
            height: 0.52rem;
            width: 2.6rem;
            span{
                display: inline-block;
                width: 1.2rem; 
                font-family: SourceHanSansCN;
                font-size: 0.24rem;
                color: #ffffff;
                background-color: #2f6aca;
                width: 1.3rem;
                height: 0.52rem;
                border: solid 0.02rem #9ac0ff;
            }
            .prevBtn{
                position: absolute;
                left: 0;
                border-radius: 0.26rem  0 0 0.26rem;
            }
            .nextBtn{
                position: absolute;
                right: 0;
                border-radius: 0 0.26rem  0.26rem 0;
            }
        }
    }
    .content{
        height: 9.9rem;
        margin-bottom: 0.1rem;
        background-color: #fff;
        padding: 0 0.4rem;
        padding-top: 0.92rem;
        overflow-x: hidden;
        overflow-y: auto;
        .picture{
            width: 18.4rem;
            height: 10.35rem;
            // margin-top: 0.32rem;
        }
        .title{
            height: 0.92rem;
            position: relative;
            .titlename{
                font-size: 0.36rem;
                line-height: 0.92rem;
                color: #333333;
                font-family: SourceHanSansCN;
            }
            .time{
                font-size: 0.28rem;
                line-height: 0.92rem;
                color: #999999;
                position: absolute;
                right: 0;
            }
        }
        .detail{
            .text{
                font-family: SourceHanSansCN-Regular;
                font-size: 0.24rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.36rem;
                letter-spacing: 0.01rem;
                color: #666666;
                padding-bottom: 0.24rem;
                word-break: break-all;
            }
            .imgWarp{
                text-align: center;
                width: 9rem;
                margin-right: 0.2rem;
                margin-bottom: 0.2rem;
                height: 5.12rem;
                float: left;
                overflow: hidden;
                position: relative;
                .img{
                    max-height: 5.12rem;
                    max-width: 100%;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &:nth-of-type(even){
                    margin-right: 0;
                }
            }
        }
    }
}