
:global{
    // 选择器样式
    .am-picker-popup-content{
        height: 57vw !important;
    }
    .am-picker-popup-body{
        height: 69vw;
    }
    .am-picker-col-content{
        padding: 12vw 0 !important;
    }
    .am-picker-col-item-selected{
        color:#4ea375 !important;
        height: 12vw !important;
    }
    .am-picker-popup-item{
        font-size: 4vw !important;
    }
    .am-picker-col-item{
        color: #999999 ;
        height: 12vw !important;
        line-height: 12vw !important;
    }
    .am-picker-col-indicator{
        z-index: 0 !important;
        top: 12vw !important;
        background-color: rgba(245,247,248,1);
        height: 12vw !important;
    }
    .am-picker-col-indicator::after,.am-picker-col-indicator::before{
        background-color: white !important;
    }
    .am-picker-popup-header{
        background-color: #f3f3f3 !important;
        height: 12vw !important;
    } 
    .am-picker-col-mask{
        z-index: 0 !important;
    }  
    .am-picker-popup-header::after{
        background-color: white !important;
        height: 0px !important;
    }
}
.box{
    :global{
        //select
        .am-list-item .am-list-line .am-list-arrow{
            // width: 2vw !important;
            height: 4vw !important;
        }
        .am-list-item{
            padding: 0;
            min-height: 13vw;
            
            .am-list-line{
                padding: 0;
                .am-list-content{
                    font-size: 4vw;
                    width: 20vw;
                    color: #777;
                    flex:none;
                    -webkit-touch-callout:none;
                    -webkit-user-select:none;
                    -khtml-user-select:none;
                    -moz-user-select:none;
                    -ms-user-select:none;
                    user-select:none;
                }
                .am-list-extra{
                    // display: none;
                    font-size: 4vw;
                    width: 81vw;
                    flex-basis: 100%;
                    color: #444;
                }
                
            }

        }
        //input
        .am-list-item .am-input-label.am-input-label-5{
            font-size: 4vw;
            color:#777;
            padding-right: 4vw;
            width: 19vw;
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        .am-list-item .am-input-control input,.am-list-item .am-input-extra{
            font-size: 4vw;
            max-height: 13vw;
            color:#444;
            overflow: scroll;
        }
        // textarea
        .am-textarea-control textarea{
            font-size: 4vw;
            line-height: 5vw;
            color: #444;
        }
        .am-textarea-control {
            padding: 13vw 4vw 8vw 4vw;
        }
        .am-textarea-count{
            font-size: 4vw;
            color:#bbb;
            padding-right: 3vw;
            margin-right: -6px;
            span{
                color:#bbb;
            }
        }
    }
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f7f8;
    // padding-bottom: 3vw;
    padding-bottom: 14vw;
    position: relative;
    .top{
        padding: 0 0vw 0 4vw;
        background-color: white;
        border-bottom: 0px solid #f2f2f2 ;
        
        .row{
            position: relative;
            border-bottom:  1px solid #f2f2f2 ;
            padding-right: 3vw;
            .specialIntput{
                height: 13vw;
                line-height: 13vw;
                font-size: 4vw;
                color:#444;
                .left{
                    color: #777;
                    -webkit-touch-callout:none;
                    -webkit-user-select:none;
                    -khtml-user-select:none;
                    -moz-user-select:none;
                    -ms-user-select:none;
                    user-select:none;
                }
                .right{
                    float: right;
                }
            }
            
        }
        .row:nth-child(3){
            border-bottom:  0px solid #f2f2f2 ;
        }
    }
    .textAreaWrap{
        position: relative;
        .title{
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            position: absolute;
            z-index: 9;
            top:8.5vw;
            left:4vw;
            font-size: 4vw;
            color: #777;
            line-height: 2vw;

        }
        padding-top: 3vw;
    }
    .teachersWrap{
        margin-top: 3vw;
        padding: 0 0vw 0 4vw;
        background-color: white;
        border-bottom: 0px solid #f2f2f2 ;
        margin-bottom: 4vw;
        .row{
            position: relative;
            border-bottom:  1px solid #f2f2f2 ;
            padding-right: 4vw;
        }
        .row:nth-child(2){
            border-bottom:  0px solid #f2f2f2 ;
        }
    }
    .btnWrap{
        width: 100%;
        height: 17vw;
        position: fixed;
        padding-bottom: 3vw;
        padding-top: 3vw;
        bottom: 0vw;
        background-color: #f5f7f8;
        .btn{
            width: 91vw;
            height: 11vw;
            background-color: #48bb7d;
            font-size: 5vw;
            text-align: center;
            line-height: 11vw;
            margin: 0 auto 0;
            color:white;
            border-radius: 5px;
            // margin-top: 3vw;
        }
        .btn:active{
            background-color: #4ea375 !important;
        }
    }
}