.content1{
    width: 100%;
    padding: 0 0.28rem 0 0.28rem;
    float: left;
    
    .v-item{
        height: 5.8rem;
        min-height: 5.8rem;
        width: 100%;
        text-align: center;
        // border-bottom: 1px solid red;
        border-radius: 12px;
        overflow: hidden;
        background-color: #f8f8f8;
        .img{
            height: 100%;
            max-width: 100%;
        }
        .no-img{
            width: 0.4rem;
            padding-top: 2.52rem;
        }
        .no-img-word{
            color: #cccccc;
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
        }
    }
    .textWrap{
        .textTitle{
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
            color:#333333;
            font-weight: bold;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .text{
            display: block;
            padding-top: 0.1rem;
            color: #999999;
            font-size: 0.18rem;
            line-height: 0.28rem;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}
.content2{
    width: 5.06rem;//*
    margin-left: 0.29rem; 
    float: left;
    .v-item{
        height: 5.8rem;
        min-height: 5.8rem;
        width: 5.06rem;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        background-color: #f8f8f8;
        .img{
            height: 100%;
            max-width: 100%;
        }
        .no-img{
            width: 0.4rem;
            padding-top: 2.52rem;
        }
        .no-img-word{
            color: #cccccc;
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
        }
    }
    .textWrap{
        .textTitle{
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
            color:#333333;
            font-weight: bold;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .text{
            display: block;
            padding-top: 0.1rem;
            color: #999999;
            font-size: 0.18rem;
            line-height: 0.28rem;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}
.content4{
    width: 5.06rem;//*
    margin-left: 0.29rem; 
    float: left;
    .v-item{
        width: 5.06rem;
        height: 2.84rem;
        min-height: 2.84rem;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        background-color: #f8f8f8;
        .img{
            height: 100%;
            max-width: 100%;
        }
        .no-img{
            width: 0.4rem;
            padding-top: 1.05rem;
        }
        .no-img-word{
            color: #cccccc;
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
        }
    }
    .textWrap{
        margin-bottom: 0.4rem;
        .textTitle{
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
            
            color:#333333;
            font-weight: bold;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .text{
            display: none;
        }
    }
}
.content6{
    width: 6.00rem;//*
    margin-right: 0.13rem; 
    margin-top: 0.31rem;
    float: left;
    .v-item{
        width: 6.00rem;
        height: 3.38rem;
        min-height: 3.38rem;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        background-color: #f8f8f8;
        .img{
            height: 100%;
            max-width: 100%;
        }
        .no-img{
            width: 0.4rem;
            padding-top: 1.32rem;
        }
        .no-img-word{
            color: #cccccc;
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
        }
    }
    .textWrap{
        margin-bottom: 0.09rem;
        .textTitle{
            font-size: 0.24rem;
            line-height: 0.32rem;
            padding-top: 0.16rem;
            
            color:#333333;
            font-weight: bold;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .text{
            display: none;
        }
    }
}