$oddLine-color: #f6f8ff;
.tableContent {
    height: 4.3rem;
    overflow: auto;
    width: 100%;
    margin-top: .24rem;
    position: relative;
    .lineStyle{
        font-size: .24rem;
        line-height: .32rem;
        letter-spacing: 0px;
        color: #333333;
        padding: 0.17rem .3rem;
        display: flex;
        width: 100%;
        .indexName {
            width: 1.4rem;
            margin: auto 0;
        }
        .mutiLine {
            display: flex;
            flex-direction: column;
            word-break: keep-all;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .classTime {
            margin-right: .86rem;
        }
        .subName {
            width: 1.4rem;
            margin-right: 0.2rem;
        }
        .classType {
            span{
                display: inline-block;
                width: 0.72rem;
                height: 0.32rem;
            }
            
        }
        &:nth-child(odd) {
            background-color: rgba(96,220,192,0.1); 
        }
    }
    .noTableData{
        margin-top: 1.5rem;
        text-align: center;
        .noTableDataImg{
            width: 1.2rem;
	        height: 1.2rem;
            padding-bottom: 0.1rem;
        }
        .noTableDataWord{
            display: block;
            font-size: 0.28rem;
            color:#ccc;
        }
    }
}