.wrap {
    padding: 5vw 4vw 0vw 4vw;
    .imgItem {
        // display: inline-block;
        width: 16vw;
        height: 16vw;
        margin-right: 3vw;
        margin-bottom: 3vw;
        float: left;
        overflow: hidden;
    }
    .imgItem:last-child {
        margin-right: 0;
    }
    .showImg {
        position: relative;
        border: 1px solid transparent;
        .showImgItem {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
        .deleteImg {
            position: absolute;
            width: 5vw;
            height: 5vw;
            top: 0;
            right: 0;
        }
    }
    .uploadImg {
        border: 1px dashed #dbdbdb;
        text-align: center;
        color: #999;
        padding-top: 3vw;
        font-size: 3vw;
        background-color: white;
        img {
            width: 7vw;
            height: 6vw;
            margin-bottom: 1vw;
        }
    }
    .div{
        width: 100%;
        overflow: hidden;
    }
    .tips {
        font-size: 3.5vw;
        line-height: 6vw;
        color: #999;
    }
}