:global{
    .am-modal-transparent{
        width: 80vw;
        // height: 42vw;
    }
}
.box{
    width: 94%;
    background-color: #ffffff;
	box-shadow: 0px 0px 20px 0px 
        rgba(0, 0, 0, 0.04);
    margin:3vw auto 0px;
    border-radius: 5px;
    .top{
        height: 12vw;
        // line-height: 11vw;
        padding: 5vw 2vw 0 3vw;
        .left{
            float: left;
            font-size: 4vw;
            color:'#444444';
            font-family: PingFang-SC-Bold;
        }
        .right{
            float: right;
            font-size: 3vw;
            color:#999;
            font-family: PingFang-SC-Bold;
            padding-right: 3.5vw;
        }
    }
    .content{
        // border-top: 1px solid #eee;
        border-bottom: 1px solid #f2f2f2;
        padding: 3vw 3vw 0 3vw;
        .textWrap{
            width: 100%;
            overflow: hidden;
            // line-height: 6vw;
            padding-bottom: 2vw;
            .title{
                width: 18vw;
                float: left;
                font-size: 3vw;
                color:#666;
                line-height: 6vw;
                font-family: PingFang-SC-Medium;
            }
            .text{
                width: 70vw;
                color:#333;
                font-size: 3vw;
                float: left;
                line-height: 6vw;
                font-family: PingFang-SC-Medium;
            }
        }
        .imgWrap{
            width: 88vw;//95vw
            overflow: hidden;
            padding-bottom: 5vw;
            .imgItem{
                width: 16.5vw;
                height: 16.5vw;
                overflow: hidden;
                margin-right: 1vw;
                float: left;
                position: relative;
                .delet{
                    width: 5vw;
                    height: 5vw;
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: 0.5;
                }
                img{
                    display: block;
                    width: 16.5vw;
                    height: 16.5vw;
                    object-fit: cover;
                }
                 
            }
       
        }
    }
    .bottom{
        width: 100%;
        height: 11vw;
        font-family: MicrosoftYaHei;
        font-size: 3vw;
        line-height: 11vw;
        padding: 0 4vw 0 3vw;
        color: #666666;
        position: relative;
        .point{
            position: absolute;
            width: 1vw;
            height: 1vw;
            background-color: #48bb7d;
            border-radius: 50%;
            top: 5vw;
        }
        p{
            padding-left: 2vw;
        }
        .l1{
            color: #48bb7d;
            float: right;
        }
        .l2{
            color: #48bb7d;
            float: right;
            padding-right: 6vw;
        }
    }
}